<% provide :title, "About" %>
<div style="height: 20px; width: 100%;"></div>
<div class="row">
	<div class="col-md-12">
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			<div class="panel panel-default">
				<div class="panel-heading" id="headingOne" role="tab">
					<h4 class="panel-title">
						<a href="#collapseOne" data-toggle="collapse" data-parent="accordion" aria-expanded="true" aria-controls="collapseOne">
							What is NightBook?
						</a>
					</h4>
				</div>

				<div class="panel-collapse collapse in" id="collapseOne" role="tabpanel" aria-labelledby="headingOne">
					<div class="panel-body">
						NightBook is an online journaling application. Which, generally speaking, is pretty awesome. NightBook uses powerful encryption and multifaceted authentication to help protect your secrets, so you are welcome to write whatever you want. Not even our systems administrators can view it. Your secrets are kept between you and whoever you choose to share them with.
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading" id="headingTwo" role="tab">
					<h4 class="panel-title">
						<a href="#collapseTwo" data-toggle="collapse" data-parent="accordion" aria-expanded="false" aria-controls="collapseTwo">
							How do I share my entries?
						</a>
					</h4>
				</div>

				<div class="panel-collapse collapse" id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo">
					<div class="panel-body">
						Well, either copy and paste it, or show somebody on your device. Beyond that, NightBook does not support sharing. We likely never will. This is to prevent your sensitive information from being shared with anybody that you might not want to see it. Your personal NightBook is your business, and we feel that it should always stay that way. We want you to be able to write anything you want without fear of others.
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading" id="headingThree" role="tab">
					<h4 class="panel-title">
						<a href="#collapseThree" data-toggle="collapse" data-parent="accordion" aria-expanded="false" aria-controls="collapseThree">
							Can I write about {x}?
						</a>
					</h4>
				</div>

				<div class="panel-collapse collapse" id="collapseThree" role="tabpanel" aria-labelledby="headingThree">
					<div class="panel-body">
						Sure. Write about whatever makes you happy. Or sad. Or angry. Write a novel - there's no character limit on your NightBook entries. Keep in mind, your entry content will not paginate, so if you write a novel, expect it all on one page if you put it all in one entry. Write safely knowing that nobody can ever find your entries.
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading" id="headingFour" role="tab">
					<h4 class="panel-title">
						<a href="#collapseFour" data-toggle="collapse" data-parent="accordion" aria-expanded="false" aria-controls="collapseFour">
							Privacy Policy (Simplified)
						</a>
					</h4>
				</div>

				<div class="panel-collapse collapse" id="collapseFour" role="tabpanel" aria-labelledby="headingFour">
					<div class="panel-body">
						We will never, under any circumstances sell or otherwise give your information to anybody, to the extent of the law. When we receive your personal information (Email address and first name supplied in sign up process), that is never used for any reason beyond signing in. Your information is protected to the best of our abilities, and our privacy policy is readily available. By using this website, you agree to the terms of service and to our privacy policy.
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading" id="headingFive" role="tab">
					<h4 class="panel-title">
						<a href="#collapseFive" data-toggle="collapse" data-parent="accordion" aria-expanded="false" aria-controls="collapseFive">
							Terms of Service/Privacy Policy
						</a>
					</h4>
				</div>

				<div class="panel-collapse collapse" id="collapseFive" role="tabpanel" aria-labelledby="headingFive">
					<div class="panel-body">
						<h2>
							Web Site Terms and Conditions of Use
						</h2>

						<h3>
							1. Terms
						</h3>

						<p>
							By accessing this web site, you are agreeing to be bound by these 
							web site Terms and Conditions of Use, all applicable laws and regulations, 
							and agree that you are responsible for compliance with any applicable local 
							laws. If you do not agree with any of these terms, you are prohibited from 
							using or accessing this site. The materials contained in this web site are 
							protected by applicable copyright and trade mark law.
						</p>

						<h3>
							2. Use License
						</h3>

						<ol type="a">
							<li>
								Permission is granted to temporarily download one copy of the materials 
								(information or software) on NightBook's web site for personal, 
								non-commercial transitory viewing only. This is the grant of a license, 
								not a transfer of title, and under this license you may not:
								
								<ol type="i">
									<li>modify or copy the materials;</li>
									<li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
									<li>attempt to decompile or reverse engineer any software contained on NightBook's web site;</li>
									<li>remove any copyright or other proprietary notations from the materials; or</li>
									<li>transfer the materials to another person or "mirror" the materials on any other server.</li>
								</ol>
							</li>
							<li>
								This license shall automatically terminate if you violate any of these restrictions and may be terminated by NightBook at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.
							</li>
						</ol>

						<h3>
							3. Disclaimer
						</h3>

						<ol type="a">
							<li>
								The materials on NightBook's web site are provided "as is". NightBook makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, NightBook does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.
							</li>
						</ol>

						<h3>
							4. Limitations
						</h3>

						<p>
							In no event shall NightBook or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on NightBook's Internet site, even if NightBook or a NightBook authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
						</p>
									
						<h3>
							5. Revisions and Errata
						</h3>

						<p>
							The materials appearing on NightBook's web site could include technical, typographical, or photographic errors. NightBook does not warrant that any of the materials on its web site are accurate, complete, or current. NightBook may make changes to the materials contained on its web site at any time without notice. NightBook does not, however, make any commitment to update the materials.
						</p>

						<h3>
							6. Links
						</h3>

						<p>
							NightBook has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by NightBook of the site. Use of any such linked web site is at the user's own risk.
						</p>

						<h3>
							7. Site Terms of Use Modifications
						</h3>

						<p>
							NightBook may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.
						</p>

						<h3>
							8. Governing Law
						</h3>

						<p>
							Any claim relating to NightBook's web site shall be governed by the laws of the State of Florida without regard to its conflict of law provisions.
						</p>

						<p>
							General Terms and Conditions applicable to Use of a Web Site.
						</p>



						<h2>
							Privacy Policy
						</h2>

						<p>
							Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. The following outlines our privacy policy.
						</p>

						<ul>
							<li>
								Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.
							</li>
							<li>
								We will collect and use of personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.		
							</li>
							<li>
								We will only retain personal information as long as necessary for the fulfillment of those purposes. 
							</li>
							<li>
								We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned. 
							</li>
							<li>
								Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date. 
							</li>
							<li>
								We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.
							</li>
							<li>
								We will make readily available to customers information about our policies and practices relating to the management of personal information. 
							</li>
						</ul>

						<p>
							We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained. 
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>