<% provide :title, "Contact" %>
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>Contact us</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<p class="lead">Send me an email at <a href="mailto:mark@quantumsoftware.org">mark@quantumsoftware.org</a> and I will get back with you as soon as a possible.</p>
	</div>
</div>