<% provide :title, "Donate" %>

<div class="row">
	<div class="col-md-12">
		<h1 style="text-align: center;">Why donate?</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-4 triplet">
		<h3>Coffee isn't cheap</h3>
		<p>
			Seriously. NightBook is a one-man project, and it's hard to code all of the wonderful goodies that you all love without some major caffeine going on. Just $2 makes a huge difference in my coffee <s>addiction</s> budget.
		</p>
	</div>

	<div class="col-md-4 triplet">
		<h3>Neither is college</h3>
		<p>
			I'm going to school full time for an absolutely massive list of reasons, and I'm struggling a lot with tuition. My day job just isn't cutting it, and web design work is infrequent at best. Any amount at all would help greatly.
		</p>
	</div>

	<div class="col-md-4 triplet">
		<h3>Get your name on a list</h3>
		<p>
			If you donate and forward me a copy of your receipt through <%= link_to "Email", contact_path %>, I'll take your name and a brief tagline that you write and stick on a big list for the whole world to see. Each donor of $10+ also gets three days up on the front page, with whatever information they want to put.
		</p>
	</div>
</div>

<div class="row">
	<div class="col-md-4 triplet"></div>
	<div class="col-md-4 triplet"><%= donate_button %></div>
	<div class="col-md-4 triplet"></div>
</div>