<% provide :title, "Home" %>
<% provide :override, true %>
<script type="text/javascript">
$(document).ready(function() {
	$("#header-carousel").owlCarousel({
		lazyLoad : true,
		slideSpeed : 300,
		paginationSpeed : 100,
		singleItem : true,
		pagination : false,
		autoPlay : 8000,
	});
});
</script>

<div id="header-carousel" class="owl-carousel owl-theme">
	<div class="item">
		<div class="jumbotron">
			<div class="container">
				<img class="lazyOwl" data-src="<%= asset_url('purple_book_icon.png') %>" alt="Book icon" width="256" height="256" />

				<h1>
					What is NightBook?
				</h1>

				<p>
					NightBook is a way for you to privately host your own diary. Never worry about anybody going through your private journal - your secrets are safe with us.
				</p>

				<br>

				<%= link_to "Learn more!", about_path, class: "btn btn-primary btn-lg", style: "clear: right;" %>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="jumbotron">
			<div class="container">
				<h1>
					Oh cool! But what if I want to share with my friends?
				</h1>

				<p>
					Then you go make a <a href="http://facebook.com/">Facebook</a> or a <a href="http://tumblr.com/">Tumblr</a> or something. We will never, ever share any of your posts for any reason.
				</p>

				<p>Your privacy is our business.</p>

				<%= link_to "Learn yet more!", about_path, class: "btn btn-primary btn-lg", style: "clear: right;" %>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="jumbotron">
			<div class="container">
				<h1>
					Radical! Where do I sign up?
				</h1>

				<p>
					I'm so glad that you've decided to keep your journal with us. I'll go prepare a welcoming party, maybe bake a cake or something. You like cake, right? Sweet, sweet cake.
				</p>

				<p>
					<%= link_to "Sign up now", new_user_registration_path, class: "btn btn-primary btn-lg" %>
				</p>
			</div>
		</div>
	</div>
</div>

<div class="container main-container">
	<div class="row">
		<div class="col-md-4 triplet">
			<h3>
				Totally free.
			</h3>
			<p>
				And we mean it. NightBook will never ask for your credit card. No premium memberships, no special treatment. We survive on your donations, but this is the only place that we will even ask.
			</p>
		</div>
		<div class="col-md-4 triplet">
			<h3>
				Totally private.
			</h3>
			<p>
				We store your journals in a heavily encrypted database, and we will never give up any of your information for any reason. The only person that ever sees your writing is you.
			</p>
		</div>
		<div class="col-md-4 triplet">
			<h3>
				Totally easy.
			</h3>
			<p>
				Just put down whatever you are thinking and hit save and our system will take care of the rest.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 triplet">
			<%= link_to "Donate", donate_path, class: "btn btn-primary" %>
		</div>
		<div class="col-md-4 triplet">
			<%= link_to "Learn more", about_path, class: "btn btn-primary" %>
		</div>
		<div class="col-md-4 triplet">
			<%= link_to "Sign me up!", new_user_registration_path, class: "btn btn-primary" %>
		</div>
	</div>
</div>

<div class="container main-container">
	<div class="row">
		<div class="col-md-12">
			<h2>Don't just take it from me though, read these quotes from my favorite books!</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<blockquote>
				<p>Even impaled on a spear, he was confident he could - suddenly he was impaled on a spear.</p>
				<footer>Ari Bach, author of <cite title="Ragnarok">Ragnarok</cite></footer>
			</blockquote>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<blockquote>
				<p>The ships hung in the sky much in the same way that bricks don't.</p>
				<footer>Douglas Adams, author of <cite title="The Hitchhiker's Guide to the Galaxy">The Hitchhiker's Guide to the Galaxy</cite></footer>
			</blockquote>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<blockquote>
				<p>Pelamus turned around, and bless the idiot, he gave a monologue.</p>
				<footer>Ari Bach, author of <cite title="Ragnarok">Ragnarok</cite></footer>
			</blockquote>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<blockquote>
				<p>"Hmmm, very severe... Poor condition, heavy infection... Disarticulation... Oh no, no... Clearly broken... Mm-hmmm... All right, then, all's well, perfect health, clear to go."</p>
				<footer>Dr. Niide, from <cite title="Valhalla">Valhalla</cite> by Ari Bach</footer>
			</blockquote>
		</div>
	</div>
</div>