<% provide :title, "Sign up" %>
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	<%= devise_error_messages! %>

	<div class="field">
		<%= f.label :first_name %><br />
		<%= f.text_field :name, autofocus: true, class: "form-control" %>
	</div>

	<div class="field">
		<%= f.label :email %><br />
		<%= f.email_field :email, class: "form-control" %>
	</div>

	<div class="field">
		<%= f.label :password %>
		<% if @validatable %>
		<em>(<%= @minimum_password_length %> characters minimum)</em>
		<% end %><br />
		<%= f.password_field :password, autocomplete: "off", class: "form-control" %>
	</div>

	<div class="field">
		<%= f.label :password_confirmation %><br />
		<%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
	</div><br>

	<div class="actions">
		<%= f.submit "Sign up", class: "btn btn-primary" %>
	</div>
<% end %>

<%= render "devise/shared/links" %>