<%= form_for(@entry) do |f| %>
	<% if @entry.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

			<ul>
			<% @entry.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :title %><br>
		<%= f.text_field :title, class: "form-control" %>
	</div>
	<div class="field">
		<%= f.label :content %><br>
		<%= f.text_area :content, class: "form-control entry-content" %>
	</div><br>
	<div class="actions">
		<%= f.submit class: "btn btn-primary" %>
	</div>
<% end %>