<% provide :title, "Your entries" %>
<% former_day = nil %>

<%= link_to "New entry", new_entry_path, class: "btn btn-primary pull-right", style: "margin-top: 20px;" %>

<% if @entries.empty? %>
<h1>
	You have no entries! <%= link_to "Make some!", new_entry_path %>
</h1>
<% end %>

<% @entries.reverse.each do |entry| %>
	<% if former_day != formatDate(entry.created_at) %>
<h2 class="date">
	<%= formatDate(entry.created_at) %>
</h2>
	<% end %>
	
	<% if entry.title.nil? or entry.title == "" %>
<%= link_to "Untitled Entry", entry, class: "btn btn-default" %>
	<% else %>
<%= link_to entry.title, entry, class: "btn btn-default" %>
	<% end %>
<% former_day = formatDate(entry.created_at) %>
<% end %>

<%= will_paginate @entries, renderer: BootstrapPagination::Rails %>