<% provide :title, @entry.title %>
<h1>
  <%= @entry.title %>
</h1>

<p>
  <%= html_format(@entry.content) %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
