@import "bootstrap-sprockets";
@import "bootstrap";

$blackish: #1D2124;
$oldPurple: #3F4459;
$purple: #624AA9;
$header_height: 120px;
$bradius: 10px;

%vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
}

// Universal
html, body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	min-height: 100%;
	width: 100%;
}

body {
	background-color: #888888;
}


// Header
.main-header {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 100%;
	height: $header_height;
	background-color: $blackish;

	.header-image {
		float: left;
		margin-right: 10px;
	}

	.header-unit {
		height: $header_height;
		min-width: 5em;
		font-size: 24px;
		text-align: center;
		padding-top: 50px;
		vertical-align: bottom;
		float: left;
		color: white;
		display: inline-block;

		&:hover {
			border-bottom: 4px solid $purple;
		}
		&:last-child {
			&:hover {
				border-bottom: 4px solid white;
			}
		}
	}

	.active {
		@extend .header-unit;
		background-color: #fff;
		color: black;
	}

	a:hover {
		border-bottom: 4px solid white;
	}
}

#user-menu {
	background-color: white;
	float: right;
	width: 160px;
	margin-left: -160px;
	position: absolute;
	top: $header_height;
	left: 100%;
	z-index: 999;

	ul {
		padding: 0px;
		width: 100%;
	}

	li {
		list-style-type: none;
		width: 100%;
		// margin-bottom: 10px;
		// margin-top: 10px;
		padding: 10px;

		&:first-child {
			margin-top: 10px;
		}

		&:last-child {
			margin-bottom: 0px;
		}

		&:hover {
			background-color: #eee;
		}
	}
}

.navbar {
	height: 100px;
}

// Body
.main-container {
	background-color: #fff;
	border-radius: $bradius;
	// border: 1px solid $blackish;
	margin-top: 16px;
	padding-bottom: 10px;
	padding-right: 15px;

	h1 {
		font-family: "Book Antiqua",Palatino,"Palatino Linotype","Palatino LT STD",Georgia,serif;
	}

	p {
		padding-top: 20px;
	}
}

// Footer
footer {
	margin-top: 12px;
	padding-top: 8px;
	color: #B9B9B9;

	a {
		color: #24649D;
	}

	hr {
		border-color: #7C7C7C;
		width: 85%;
		text-align: center;
		margin-bottom: 2px;
	}

	ul {
		display: inline;
		padding-left: 0px;

		li {
			display: inline;
			// background-color: #fff;
			border-radius: $bradius;
			margin-left: 10px;
			padding: 4px;
			text-align: center;
		}
	}
}

// Flash messages
.alert {
	width: 100%;
	margin-top: 10px;
	font-size: 16px;
	text-align: center;
	border-radius: 10px;
	margin-bottom: 10px;
}

.notice {
	@extend .alert;
}

// Carousel
#header-carousel {
	background-color: #eee;
	.item {
		font-size: 20px;

		span {
			font-size: 48;
		}

		h1 {
			font-family: Baskerville,"Baskerville Old Face","Hoefler Text",Garamond,"Times New Roman",serif;
			font-size: 48px;
			font-weight: bold;
		}

		img {
			float: right;
			clear: none;
			// margin-top: -80px;
		}
	}
}

// Form controls
.entry-content {
	min-height: 400px;
}

// Miscellaneous
.hidden {
	display: none;
}

.triplet {
	text-align: center;
	p {
		margin-left: 10px;
		margin-right: 10px;
		text-align: center;
		padding: 0px 8px;
	}
}

h2.date {
	margin-bottom: 0px;
	display: block;
	width: 100%;
}

div.entry {
	// -webkit-transform-style: preserve-3d;
	//    -moz-transform-style: preserve-3d;
	//     -ms-transform-style: preserve-3d;
	//      -o-transform-style: preserve-3d;
	//         transform-style: preserve-3d;
	-webkit-box-shadow: 0px 0px 1px 2px $purple;
	-moz-box-shadow: 0px 0px 1px 2px $purple;
	box-shadow: 0px 0px 1px 2px $purple;
	border: 1px solid $purple;
	border-radius: $bradius;
	height: 86px;
	display: inline-block;

	p {
		@extend %vertical-align;
	}
}