<div class="navbar navbar-inverse">
	<div class="container-fluid">
		
		<div class="navbar-header">
			<button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nb-navbar-collapse-1" type="button">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to "NightBook", root_path, class: 'navbar-brand' %>
		</div>

		<div class="collapse navbar-collapse" id="nb-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li>
					<%= link_to "Home", root_path %>
				</li>
			</ul>
		</div>
	</div>
</div>