<div class="container">
	<footer>
		<hr>
		<ul class="pull-left">
			<li>
				<%= link_to "Home", root_path %>
			</li>
			<li>
				<%= link_to "About", about_path %>
			</li>
			<li>
				<%= link_to "Contact", contact_path %>
			</li>
			<li>
				<%= link_to "Donate", donate_path %>
			</li>
		</ul>

		<div class="pull-right">
			Copyright &copy;2016 Mark Rawls
		</div>
	</footer>
</div>