<script type="text/javascript">
$(document).ready(function() {
	$("#current-account").hover(function() {
		$("#current-account").addClass("active");
		$("#user-menu").removeClass("hidden");
	}, function() {
		$("#current-account").removeClass("active");
		$("#user-menu").addClass("hidden");
	});
	$("#user-menu").hover(function() {
		$("#current-account").addClass("active");
		$("#user-menu").removeClass("hidden");
	}, function() {
		$("#current-account").removeClass("active");
		$("#user-menu").addClass("hidden");
	});
});
</script>
<div class="main-header">
	<%= link_to(root_path) do %>
	<%= image_tag("nightbook_logo.png", :class => "header-image") %>
	<% end %>

	<%= link_to(root_path) do %>
	<div class="header-unit">
		Home
	</div>
	<% end %>

	<%= link_to(about_path) do %>
	<div class="header-unit">
		About
	</div>
	<% end %>

	<% if user_signed_in? %>
	<%= link_to entries_path do %>
	<div class="header-unit pull-right" id="current-account">
		<%= current_user.name %>
	</div>
	<% end %>
	<% else %>
	<%= link_to(new_user_session_path) do %>
	<div class="header-unit pull-right">
		Log In
	</div>
	<% end %>
	<% end %>
</div>

<div id="user-menu" class="hidden">
	<ul>
		<%= link_to entries_path do %>
		<li>
			<span class="glyphicon glyphicon-book"></span> My Entries
		</li>
		<% end %>
		<%= link_to new_entry_path do %>
		<li>
			<span class="glyphicon glyphicon-file"></span> New Entry
		</li>
		<% end %>
		<%= link_to destroy_user_session_path, :method => :delete do %>
		<li>
			<span class="glyphicon glyphicon-log-out"></span> Log Out
		</li>
		<% end %>
	</ul>
</div>