<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Nightbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
<%= render 'layouts/partials/header' %>

<% if alert != nil or notice != nil %>
<div class="container">
	<% if alert != nil %>
	<p class="alert bg-danger"><%= alert %> <a href="#"><span class="glyphicon glyphicon-remove-sign" style="float: right; top: 4px;" onclick="$('.alert').slideUp();"> </span></a></p>
	<% end %>
	<% if notice != nil %>
	<p class="notice bg-success"><%= notice %> <a href="#"><span class="glyphicon glyphicon-remove-sign" style="float: right; top: 4px;" onclick="$('.notice').slideUp();"> </span></a></p>
	<% end %>
</div>
<% end %>
<% if yield(:override) == "" or yield(:override) == false %>
<div class="container main-container">
	<%= yield %>
</div>
<% else %>
<%= yield %>
<% end %>

<%= render 'layouts/partials/footer' %>

</body>
</html>
